{% extends "jellyroll/base.html" %}

{# Example template for a the calendar year view #}

{% block title %}Items in {{ year }}{% endblock %}

{% block content %}
  <h1>Items in {{ year }}</h1>
  <p>
    {% if previous %}<a href="{% url jellyroll_calendar_year previous %}">&larr; {{ previous }}</a>{% endif %}
    {% if next %}<a href="{% url jellyroll_calendar_year next %}">{{ next }} &rarr;</a>{% endif %}
  </p>
  <ul>
    {% for item in items %}
      <li>{{ item.timestamp|date:"r" }} / {{ item }}</li>
    {% endfor %}
  </ul>
{% endblock %}